@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Source+Sans+Pro:300,400');




body {

	background-color: #000000;
}

h1 {

	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

p{

	color: #fff;
	font-family: 'PT Sans', sans-serif;
}

.floating-image{
    float: left;
    width: 201px;
    height: 504px;
    margin: 10px;
    }

.after-box {
    clear: left;
    border: 3px solid red;      
}